.ProfileContent {
  margin-top : 7vh;
  margin-left: 3vw;
}
.ProfileBox {
  width: 128px;
  height: 50px;
  
  background-color: rgb(128, 106, 196);
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中，可根据需要调整 */
  text-align: center;
  user-select: none;
}
.HeadPicture {
  margin-left:35vw;
  text-align: center;
}