.ProfileContent {
  margin-top : 7vh;
  margin-left: 3vw;
  white-space: nowrap;
  height: 100vh;
}
.ProfileBox {
  width: 128px;
  height: 40px;
  
  background-color: rgb(128, 106, 196);
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中，可根据需要调整 */
  text-align: center;
  user-select: none;
  margin-bottom: 6  vh;
  
}
.ProfileChange {
  width: 100px;
  height: 40px;
  
  background-color: rgb(128, 106, 196);
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中，可根据需要调整 */
  text-align: center;
  user-select: none;
  margin-bottom: 7px;
}

.LogoutButton {
  
  height: 40px;
  
  background-color: rgb(128, 106, 196);
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中，可根据需要调整 */
  text-align: center;
  user-select: none;
  margin-bottom: 7px;
  min-width: 13vw;
}

.TableDiv {
  display: flex;
  white-space: nowrap ;
}

.HeadPicture {
  
  margin-left:35vw;
}

.ProfileSpan {
  font-size: 30px;
  font-weight: 500;
  color:black;
  min-width: 15vw;
  text-align: right;white-space: nowrap;
  
}

.hahaplace {
  min-width: 13vw;
}
.InnerDiv{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 2vh;
  margin-left: 18vw;
  white-space: nowrap;
}

.purple-underline {
  min-width: 15vw;
  font-size: 25px;
  font-weight: 600;
  
  position: relative;
  display: inline-block;
  text-align: left;
}
.purple-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15vw; /* 调整下划线的长度 */
  height: 3px; /* 调整下划线的高度 */
  background-color: purple;
}

.Modal-purple-underline {
  min-width: 15vw;
  font-size: 20px;
  font-weight: 600;
  
  position: relative;
  display: inline-block;
  text-align: left;
}
.Modal-purple-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15vw; /* 调整下划线的长度 */
  height: 0.2vh; /* 调整下划线的高度 */
  background-color: purple;
}
.ModalSpan {
  font-size: 25px;
  font-weight: 500;
  min-width: 8vw;
  color:black;
  text-align: right;white-space: nowrap;
}.ModalSpan2 {
  font-size: 25px;
  font-weight: 500;
  min-width: 8vw;
  color:black;
  text-align:left;white-space: nowrap;
}
.ModalInnerDiv{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 2vh;
  white-space: nowrap;
}

.ModalChange {
  width: 100px;
  height: 40px;
  
  background-color: rgb(128, 106, 196);
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中，可根据需要调整 */
  text-align: center;
  user-select: none;
  margin-bottom: 7px;
}

.ModalInnerButtonDiv {
  display: flex;
  margin-top: 20px;
  justify-content: right; 
}

.input-box {
  border: none;
  border-bottom: 0.25vh solid purple;
  outline: none;
  width: 15vw;
  font-size: 20px;
  font-weight: 600;
}