

.menu .MuiAppBar-colorInherit {
  background-color: rgb(128, 106, 196);
}

.menuScroll {
  
  filter: drop-shadow(1px 1px 1px #5116a9);
  width: 100%;
  
}

.ul1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  background-color: rgb(110, 87, 179);
}

.li1 {
  color: var(--background);
  display: block;
  transform-origin: -20px 50%;
  margin-top: 5px;
  cursor: pointer;
}

.MenuAvatar {
  cursor:pointer;
}

.ul1,
.li1 {
  list-style: none;
  
  padding: 10px;
}

.MenuButton {
  -webkit-appearance: button;
  appearance: button;
  background: var(--purplr);
  color: var(--background);
  border: none;
  height:47px;
  width: 47px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-left : 0.4vw;
  
}
.subMenu{
  
  
  position: absolute;
  left: 0;
  z-index: 999; 
  pointer-events:none;
  

}

.TollBar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
