# Ignore specific files when "git add ."

venv/
BlueSpace/.vscode/
BlueSpace/BlueSpace/__pycache__/
BlueSpace/main/__pycache__/
BlueSpace/main/migrations/
BlueSpace/main/minecraft_llm_support_backend/__pycache__/
/__pycache__/
