.SliderMenu{
  margin-top: 5vh;
  height:95vh;
  padding:7px;
  font-size: 20px;
}

.InnerMessage{
  width: 100vw;
  margin-top:5vh;
}

.SliderMenu .ant-menu-item-selected{
  background-color: rgb(186, 175, 221);
  color:white;
}
.ContentLayout {
  display: flex;
  white-space: nowrap;
}
.buttons{
  display: flex;
}
.ItemDisplayStyle{
  text-align: center;
  white-space: nowrap;
}
.ReorderContent {
  margin-left: 6vw;
}
.ReorderContent2 {
  margin-left: 8vw;
}
.NormalFont {
  font-weight: 550;
  font-size: 20px;
}
.MiddleButtonContent{
  margin-left: 35vw;
  width: 6vw;
}
.ResultContent {
  display: flex;
}
.ReorderItem {
  width: 520px;
  
}
.RightPredictionResult {
  margin-left: 20px;
}
.ReorderGroup {
  height: 55vh;
  width: 30vw;
  border : 3px solid rgb(128, 106, 196);
  border-radius: 3%;
}

.ReorderContent ul,
.ReorderContent li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.ReorderContent ul {
  position: relative;
}

.ReorderContent li {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 18px;
  position: relative;
  background: #F8E4FE;
  border: 2px solid rgb(128, 106, 196);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  cursor: grab;
}

.ReorderContent svg {
  width: 18px;
  height: 18px;
  cursor: grab;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.PredictInputContent{
  width: 100px;
  flex:1;
  
}

.InputsAlign4{
  display: flex;
  margin-left: 7vw;
}
.InputsAlign3{
  display: flex;
  margin-left: 9vw;
}
.InnerPredictionContent {
  display: block;
  
  
}

.PageContainer {
  margin-left:10vw;
  white-space: nowrap;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  white-space: nowrap;
  background-color: white;
  height: 40vh;
}
.PageContainer2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  white-space: nowrap;
  background-color: white;
  margin-top: 3vw;
  height: 40vh;
}
.PaginationBottom{
  margin-left: 30%;
}

.LeftMargin30{
  margin-left: 20vw;
}
