.StarMap{
  width: 100vw;
  height: 100vh;
}
.StarMapLoading {
  margin-left: 35vw;
  margin-top: 20vh;
  width:30vw;
  color: aliceblue;
}

.StarMapMessage {
  position:absolute;
  margin-top: 20vh;
  margin-left: 85vw;
  width: 15vw;
  height: 30vw;
  color: white;
  background-color: rgba(186, 175, 221,0.5);
  pointer-events: none;
}
.SolidOpacity{
  opacity:1.0;
}