.StarMap{
  width: 100vw;
  height: 100vh;
}
.StarMapLoading {
  margin-left: 35vw;
  margin-top: 20vh;
  width:30vw;
  color: aliceblue;
  font-size:100px;
  font-weight:100px;
}

.StarMapMessage {
  position:absolute;
  margin-top: 20vh;
  margin-left: 80vw;
  width: 20vw;
  height: 650px;
  color: white;
  pointer-events: none;

  background: rgba(255, 255, 255, 0.1);
  
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  /* border: 1px solid rgba(255, 255, 255, 0.48); */
  
}
.SolidOpacity{
  opacity:1.0;
}
input {
  /* Firefox */
  -moz-appearance: textfield;

  /* Webkit/Blink */
  appearance: textfield;

  /* 隐藏上下按钮 */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}